PORT=3000

# Database - Mariadb
MARIADB_HOST=
MARIADB_USERNAME=
MARIADB_PASSWORD=
MARIADB_DATABASE=
MARIADB_PORT=

# Database - Mongo
MONGO_URI=
MONGO_HOST=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DATABASE=